<form [formGroup]="registrationForm" (ngSubmit)="register($event)">
    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" type="text"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email"/>
        </mat-form-field>   
        
        <mat-form-field>
            <mat-label>Organization</mat-label>
            <input matInput formControlName="organization" type="text"/>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" (input)="onPasswordChange()"/>
        </mat-form-field>
        <!-- Password Strength Indicator -->
        <div class="password-strength" *ngIf="registrationForm.get('password')?.value">
            <div class="strength-bar">
                <div class="strength-fill" 
                    [style.width.%]="passwordStrength.percentage"
                    [ngClass]="passwordStrength.class">
                </div>
            </div>
            <p class="strength-text" [ngClass]="passwordStrength.class">
                {{ passwordStrength.label }}
            </p>
        </div>
        
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password"/>
        </mat-form-field>
        
        <button color="primary" type="submit" mat-raised-button>Register</button>
    </div>
</form>